<section [ngClass]="{'loading': !taskList.length}">
    <ng-template [ngIf]="taskList.length">
        <ul>
            <li *ngFor="let item of taskList; let i = index">
                <input type="checkbox" [(ngModel)]="item.checked">
                <input type="text" (keyup)="validInput(item.task, i)" [(ngModel)]="item.task" [ngClass]="{'checked': item.checked}">
                <button (click)="deleteTask(i)">
                    <img src="assets\icons\icon-trash.svg">
                </button>
            </li>
        </ul>
    </ng-template>
</section>

<app-todo-input-add-items (emitTaskItem)="addTaskItem($event)"></app-todo-input-add-items>
<app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAll()"></app-todo-button-delete-all>
